@*
Huerate - Mobile System for Customer Feedback Collection
Master Thesis at BUT FIT (http://www.fit.vutbr.cz), 2013
Available at http://huerate.cz

Author: Bc. Jakub Kadlubiec, xkadlu00@stud.fit.vutbr.cz or jakub.kadlubiec@gmail.com
*@

@using Huerate.WebUI.HtmlHelpers
@using Huerate.WebViewModels
@model Huerate.WebViewModels.Admin.ChangePasswordModel

<fieldset>
    <legend>@Html.Tr("Admin_ChangePasswordLegend")</legend>
        
    @using (Html.BeginForm("ChangePassword", "Admin"))
    {
        @Html.LabelFor(m => m.CurrentPassword, Html.Tr("Admin_CurrentPassword"))
        <span class="form-field-info">@Html.Tr("Admin_CurrentPasswordInfo")</span>
        @Html.EditorFor(m => m.CurrentPassword)
        
        @Html.LabelFor(m => m.NewPassword1, Html.Tr("Admin_NewPassword"))
        <span class="form-field-info">@Html.Tr("Admin_NewPasswordInfo")</span>
        @Html.EditorFor(m => m.NewPassword1)

        @Html.LabelFor(m => m.NewPassword2, Html.Tr("Admin_NewPassword2"))
        <span class="form-field-info">@Html.Tr("Admin_NewPassword2Info")</span>
        @Html.EditorFor(m => m.NewPassword2)
        
        <input type="submit" value="@Html.Tr("Admin_ChangePasswordButton")" />
    }
</fieldset>