@*
Huerate - Mobile System for Customer Feedback Collection
Master Thesis at BUT FIT (http://www.fit.vutbr.cz), 2013
Available at http://huerate.cz

Author: Bc. Jakub Kadlubiec, xkadlu00@stud.fit.vutbr.cz or jakub.kadlubiec@gmail.com
*@

@using Huerate.WebUI.HtmlHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
        <script src="@Url.WebObjectPath("~/Content/Scripts/ThirdParty/jquery-1.7.2.min.js")" type="text/javascript"> </script>
        <script src="@Url.WebObjectPath("~/Content/Scripts/ThirdParty/jquery.unobtrusive-ajax.min.js")" type="text/javascript"> </script>
        <script type="text/javascript">
            function Success() {
                alert('success');
            }

            function Fail() {
                alert('fail');
            }
        </script>
    </head>
    <body>
        <div>
            Is crawler: @Context.Request.Browser.Crawler
        </div>
        <div>
            @Ajax.ActionLink("Create test account", "CreateTestAccount", "Test", new AjaxOptions()
                                                                                     {
                                                                                         HttpMethod = "POST",
                                                                                         OnFailure = "Fail",
                                                                                         OnSuccess = "Success",
                                                                                     })
        </div>
        <div>
            @Ajax.ActionLink("Create test answers", "CreateTestAnswers", "Test", new AjaxOptions()
                                                                                     {
                                                                                         HttpMethod = "POST",
                                                                                         OnFailure = "Fail",
                                                                                         OnSuccess = "Success",
                                                                                     })
        </div>
        <div>
            @Ajax.ActionLink("Send email", "SendEmail", "Test", new AjaxOptions()
                                                                                     {
                                                                                         HttpMethod = "POST",
                                                                                         OnFailure = "Fail",
                                                                                         OnSuccess = "Success",
                                                                                     })
        </div>
    </body>
</html>