@*
Huerate - Mobile System for Customer Feedback Collection
Master Thesis at BUT FIT (http://www.fit.vutbr.cz), 2013
Available at http://huerate.cz

Author: Bc. Jakub Kadlubiec, xkadlu00@stud.fit.vutbr.cz or jakub.kadlubiec@gmail.com
*@

@model Huerate.WebViewModels.LostPasswordModel
@using Huerate.WebUI.HtmlHelpers

@{
    Layout = "~/Views/Layout/_HomePageLayout.cshtml";
    ViewBag.Title = Html.Tr("LostPasswordPage_Title");
    ViewBag.OnPageTitle = @Html.Tr("LostPasswordPage_OnPageTitle");
}

<div class="main-wrapper">
    <div id="login-container">
        @using (Html.BeginForm("LostPassword", "HomePage"))
        {
            <fieldset>
                <legend class="hidden">@Html.Tr("Lost_Password"))</legend>

                @Html.LabelFor(m => m.EmailAddress, Html.Tr("General_Email_Address"))
                @Html.EditorFor(m => m.EmailAddress, new {tabindex = 1})

                @Html.ValidationSummary(true) 
            
                @if (Model != null && Model.SuccessMessage != null)
                {
                    <div class="success-message">@Model.SuccessMessage</div>
                }

                <input type="submit" value="@Html.Tr("Action_SendNewPassword")" tabindex="2" class="submit" />

                <div class="footer">
                    @Html.ActionLink(Html.Tr("Restaurant_Create"), "SignUp", "HomePage", null, new {tabindex = 3})
                </div>
            </fieldset>
        }
    </div>
</div>